[run]
omit = 
    src/eir/visualization/*
    src/eir/configuration.py
    src/eir/build_module.py
    src/eir/setup/input_setup_modules/torchtext_port/utils.py
    src/eir/train_utils/optimization_modules/soap.py
    src/eir/train_utils/ignite_port/*
