[flake8]
ignore = E402, W503, E704
max-line-length = 88
max-complexity = 26
exclude =
    .tox,
    .venv,
    data,
    runs,
    eir_tutorials,
    src/eir/train_utils/optimization_modules/soap.py,
