default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=2048']

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: Run isort
        entry: isort
        language: system
        types: [ python ]
        stages: [ commit ]


  - repo: local
    hooks:
      - id: flake8
        name: Run flake8
        entry: flake8
        language: system
        types: [ python ]
        stages: [ commit ]

      - id: test
        name: Run tests
        entry: tox
        language: system
        types: [ python ]
        stages: [ push ]

      - id: check-versions
        name: Check project versions
        entry: python ./misc/check_versions.py
        language: system
        stages: [ commit ]
