[tool.poetry]
name = "eir-dl"
version = "0.1.40-alpha"
description = ""
license = "AGPLv3"
authors = ["Arnor Sigurdsson"]
packages = [
    { include="eir", from="." },
]

[tool.poetry.dependencies]
python = ">=3.11.0,<3.12"
pandas = "^2.0.1"
numpy = "^1.19.2"
torch = "2.1.1"
torchvision = "^0.16.0"
py = "^1.9.0"
matplotlib = "3.6.3"
pytorch-ignite = "^0.4.7"
tqdm = "^4.55.0"
sympy = "^1.6.2"
scikit-learn = "^1.0"
seaborn = "^0.13.0"
joblib = "^1.1.0"
tensorboard = "^2.3.0"
ConfigArgParse = "^1.2.3"
torch-optimizer = "^0.3.0"
adabelief-pytorch = "^0.2.0"
dill = "^0.3.3"
aislib = "^0.1.14a0"
colorama = "^0.4.4"
torchtext = "^0.16.0"
transformers = "^4.34.0"
sentencepiece = "^0.1.96"
ipython = "^8.4.0"
timm = "^0.9.2"
captum = "^0.6.0"
deeplake = "^3.8.13"
aioboto3 = "^12.1.0"
termcolor = "^2.3.0"
tokenizers = "^0.15.0"
pyarrow = "^13.0.0"
einops = "^0.7.0"
umap-learn = "^0.5.4"
fastapi = "^0.104.1"
uvicorn = "^0.24.0.post1"
pydantic = "^2.5.2"
tiktoken = "^0.5.2"

[tool.poetry.group.dev.dependencies]
memory-profiler = "^0.61.0"
pytest = "^7.0.0"
tox = "^4.0.16"
flake8 = "^6.0.0"
jupyter = "^1.0.0"
ipykernel = "^6.4.2"
coverage = "^7.0.0"
snakeviz = "^2.1.0"
pytest-cov = "^4.0.0"
pynvim = "^0.4.2"
pre-commit = "^3.0.4"
gpustat = "^1.0.0"
black = "^23.1.0"
Sphinx = "^7.2.6"
sphinx-rtd-theme = "^2.0.0"
sphinx-copybutton = "^0.5.2"
tomlkit = "^0.12.1"
gdown = "^4.2.1"
hypothesis = "^6.14.0"
pdf2image = "^1.16.0"
vulture = "^2.7"
mypy = "^1.4.1"
types-pyyaml = "^6.0.12.10"
isort = "^5.12.0"
pytest-split = "^0.8.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
eirtrain = "eir.train:main"
eirpredict = "eir.predict:main"
eirserve = "eir.serve:main"

[tool.isort]
profile = "black"