[tool.poetry]
name = "eir-dl"
version = "0.1.29-alpha"
description = ""
license = "AGPLv3"
authors = ["Arnor Sigurdsson"]
packages = [
    { include="eir", from="." },
]

[tool.poetry.dependencies]
python = "^3.10.0"
pandas = "^1.2.0"
numpy = "^1.19.2"
torch = "^1.13.1"
torchvision = "^0.14.1"
py = "^1.9.0"
matplotlib = "3.4.3"
pytorch-ignite = "^0.4.7"
tqdm = "^4.55.0"
sympy = "^1.6.2"
scikit-learn = "^1.0"
seaborn = "^0.12.0"
joblib = "^1.1.0"
tensorboard = "^2.3.0"
ConfigArgParse = "^1.2.3"
plotly = "^5.3.1"
torch-optimizer = "^0.3.0"
adabelief-pytorch = "^0.2.0"
dill = "^0.3.3"
aislib = "^0.1.8-alpha.0"
colorama = "^0.4.4"
torchtext = "^0.14.1"
shap = "^0.41.0"
transformers = "^4.11.3"
sentencepiece = "^0.1.96"
ipython = "^8.4.0"
perceiver-pytorch = "^0.8.1"
timm = "^0.6.5"
deeplake = "^3.0.10"
numba = "^0.56.4"

[tool.poetry.group.dev.dependencies]
memory-profiler = "^0.60.0"
pytest = "^7.0.0"
tox = "^4.0.16"
flake8 = "^6.0.0"
jupyter = "^1.0.0"
ipykernel = "^6.4.2"
coverage = "^7.0.0"
snakeviz = "^2.1.0"
pytest-cov = "^4.0.0"
pynvim = "^0.4.2"
visidata = "^2.0.1"
pre-commit = "^2.7.1"
gpustat = "^1.0.0"
black = "^22.12.0"
Sphinx = "^5.0.2"
sphinx-rtd-theme = "^1.0.0"
sphinx-copybutton = "^0.5.0"
tomlkit = "^0.11.1"
gdown = "^4.2.1"
hypothesis = "^6.14.0"
pdf2image = "^1.16.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
eirtrain = "eir.train:main"
eirpredict = "eir.predict:main"
