absl-py==2.1.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
adabelief-pytorch==0.2.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
aioboto3==13.1.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
aiobotocore[boto3]==2.13.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
aiofiles==24.1.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
aiohappyeyeballs==2.4.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
aiohttp==3.10.5 ; python_full_version >= "3.12.0" and python_version < "3.13"
aioitertools==0.12.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
aiosignal==1.3.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
aislib==0.1.14a0 ; python_full_version >= "3.12.0" and python_version < "3.13"
annotated-types==0.7.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
anyio==4.4.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
asttokens==2.4.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
attrs==24.2.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
boto3==1.34.131 ; python_full_version >= "3.12.0" and python_version < "3.13"
botocore==1.34.131 ; python_full_version >= "3.12.0" and python_version < "3.13"
captum==0.7.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
certifi==2024.8.30 ; python_full_version >= "3.12.0" and python_version < "3.13"
cffi==1.17.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
click==8.1.7 ; python_full_version >= "3.12.0" and python_version < "3.13"
cloudpickle==3.0.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
colorama==0.4.6 ; python_full_version >= "3.12.0" and python_version < "3.13"
configargparse==1.7 ; python_full_version >= "3.12.0" and python_version < "3.13"
contourpy==1.3.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
cycler==0.12.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
dask-expr==1.1.13 ; python_full_version >= "3.12.0" and python_version < "3.13"
dask==2024.8.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
dask[array,dataframe]==2024.8.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
decorator==5.1.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
deeplake==3.9.21 ; python_full_version >= "3.12.0" and python_version < "3.13"
deprecated==1.2.14 ; python_full_version >= "3.12.0" and python_version < "3.13"
dill==0.3.8 ; python_full_version >= "3.12.0" and python_version < "3.13"
dnspython==2.6.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
einops==0.8.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
email-validator==2.2.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
executing==2.1.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
fastapi-cli==0.0.5 ; python_full_version >= "3.12.0" and python_version < "3.13"
fastapi==0.111.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
filelock==3.15.4 ; python_full_version >= "3.12.0" and python_version < "3.13"
fonttools==4.53.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
frozenlist==1.4.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
fsspec==2024.6.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
grpcio==1.66.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
h11==0.14.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
httpcore==1.0.5 ; python_full_version >= "3.12.0" and python_version < "3.13"
httptools==0.6.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
httpx==0.27.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
huggingface-hub==0.24.6 ; python_full_version >= "3.12.0" and python_version < "3.13"
humbug==0.3.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
idna==3.8 ; python_full_version >= "3.12.0" and python_version < "3.13"
iniconfig==2.0.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
ipython==8.27.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
jedi==0.19.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
jinja2==3.1.4 ; python_full_version >= "3.12.0" and python_version < "3.13"
jmespath==1.0.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
joblib==1.4.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
kiwisolver==1.4.7 ; python_full_version >= "3.12.0" and python_version < "3.13"
libdeeplake==0.0.142 ; python_full_version >= "3.12.0" and python_version < "3.13"
llvmlite==0.43.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
locket==1.0.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
lz4==4.3.3 ; python_full_version >= "3.12.0" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
markdown==3.7 ; python_full_version >= "3.12.0" and python_version < "3.13"
markupsafe==2.1.5 ; python_full_version >= "3.12.0" and python_version < "3.13"
matplotlib-inline==0.1.7 ; python_full_version >= "3.12.0" and python_version < "3.13"
matplotlib==3.9.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
mdurl==0.1.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
mpmath==1.3.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
multidict==6.0.5 ; python_full_version >= "3.12.0" and python_version < "3.13"
multimethod==1.12 ; python_full_version >= "3.12.0" and python_version < "3.13"
multiprocess==0.70.16 ; python_full_version >= "3.12.0" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_full_version >= "3.12.0" and sys_platform != "win32" and python_version < "3.13"
networkx==3.3 ; python_full_version >= "3.12.0" and python_version < "3.13"
numba==0.60.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "3.13"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-nccl-cu12==2.20.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-nvjitlink-cu12==12.6.68 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.12.0" and python_version < "3.13"
packaging==24.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
pandas-plink==2.2.9 ; python_full_version >= "3.12.0" and python_version < "3.13"
pandas==2.2.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
parso==0.8.4 ; python_full_version >= "3.12.0" and python_version < "3.13"
partd==1.4.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
pathos==0.3.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
pexpect==4.9.0 ; python_full_version >= "3.12.0" and python_version < "3.13" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==10.2.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
pluggy==1.5.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
pox==0.3.4 ; python_full_version >= "3.12.0" and python_version < "3.13"
ppft==1.7.6.8 ; python_full_version >= "3.12.0" and python_version < "3.13"
prompt-toolkit==3.0.47 ; python_full_version >= "3.12.0" and python_version < "3.13"
protobuf==5.28.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
ptyprocess==0.7.0 ; python_full_version >= "3.12.0" and python_version < "3.13" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_full_version >= "3.12.0" and python_version < "3.13"
py==1.11.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
pyarrow==17.0.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
pycparser==2.22 ; python_full_version >= "3.12.0" and python_version < "3.13"
pydantic-core==2.20.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
pydantic==2.8.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
pygments==2.18.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
pyjwt==2.9.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
pynndescent==0.5.13 ; python_full_version >= "3.12.0" and python_version < "3.13"
pyparsing==3.1.4 ; python_full_version >= "3.12.0" and python_version < "3.13"
pytest==8.3.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.12.0" and python_version < "3.13"
python-dotenv==1.0.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
python-multipart==0.0.9 ; python_full_version >= "3.12.0" and python_version < "3.13"
pytorch-ignite==0.5.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
pytorch-ranger==0.1.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
pytz==2024.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
pyyaml==6.0.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
regex==2024.7.24 ; python_full_version >= "3.12.0" and python_version < "3.13"
requests==2.32.3 ; python_full_version >= "3.12.0" and python_version < "3.13"
rich==13.8.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
s3transfer==0.10.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
safetensors==0.4.4 ; python_full_version >= "3.12.0" and python_version < "3.13"
scikit-learn==1.5.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
scipy==1.14.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
seaborn==0.13.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
sentencepiece==0.2.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
setuptools==74.1.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
shellingham==1.5.4 ; python_full_version >= "3.12.0" and python_version < "3.13"
six==1.16.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
sniffio==1.3.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
stack-data==0.6.3 ; python_full_version >= "3.12.0" and python_version < "3.13"
starlette==0.37.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
sympy==1.13.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
tabulate==0.9.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
tensorboard-data-server==0.7.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
tensorboard==2.17.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
termcolor==2.4.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
threadpoolctl==3.5.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
tiktoken==0.7.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
timm==1.0.9 ; python_full_version >= "3.12.0" and python_version < "3.13"
tokenizers==0.19.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
toolz==0.12.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
torch-optimizer==0.3.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
torch==2.4.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
torchvision==0.19.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
tqdm==4.66.5 ; python_full_version >= "3.12.0" and python_version < "3.13"
traitlets==5.14.3 ; python_full_version >= "3.12.0" and python_version < "3.13"
transformers==4.44.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
triton==3.0.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.13" and python_full_version >= "3.12.0"
typer==0.12.5 ; python_full_version >= "3.12.0" and python_version < "3.13"
typing-extensions==4.12.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
tzdata==2024.1 ; python_full_version >= "3.12.0" and python_version < "3.13"
umap-learn==0.5.6 ; python_full_version >= "3.12.0" and python_version < "3.13"
urllib3==2.2.2 ; python_full_version >= "3.12.0" and python_version < "3.13"
uvicorn==0.30.6 ; python_full_version >= "3.12.0" and python_version < "3.13"
uvicorn[standard]==0.30.6 ; python_full_version >= "3.12.0" and python_version < "3.13"
uvloop==0.20.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_full_version >= "3.12.0" and python_version < "3.13"
watchfiles==0.24.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
wcwidth==0.2.13 ; python_full_version >= "3.12.0" and python_version < "3.13"
websockets==12.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
werkzeug==3.0.4 ; python_full_version >= "3.12.0" and python_version < "3.13"
wrapt==1.16.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
xarray==2024.7.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
yarl==1.9.8 ; python_full_version >= "3.12.0" and python_version < "3.13"
zstandard==0.23.0 ; python_full_version >= "3.12.0" and python_version < "3.13"
-e .
