name: Coverage
on: [push, pull_request]
jobs:

  test:
    strategy:
      matrix:
        group: [1, 2, 3, 4, 5]
    name: Test group ${{ matrix.group }}
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        architecture: x64
    - name: Install and Run Tox
      env:
        PYTEST_GROUP: ${{ matrix.group }}
      run: |
        pip install tox==4.6.4
        pip install poetry==1.5.1
        tox -e py_partial
    - name: Publish coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: true
