name: Test
on: [push, pull_request]
jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-12]
        python-version: ['3.11']
        group: [1, 2, 3, 4, 5]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests with Python ${{ matrix.python-version }} on ${{ matrix.os }}
        env:
          PYTEST_GROUP: ${{ matrix.group }}
        run: |
          pip install tox==4.9.0
          pip install poetry==1.5.1
          tox -e py_partial
